In [13]:
import mlxtend
print(mlxtend.__version__)

0.17.0

In [24]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pd.read_excel('online_retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [25]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0,subset=['InvoiceNo'] ,inplace=True)
df['InvoiceNo'] = ['InvoiceNo'].astype('str')
df = df[~df['InvoiceNO'].str.contains('C')]
df

AttributeError: 'list' object has no attribute 'astype'

In [23]:
basket = (df[df['Country'] == "France"]
          .groupby(['InvoiceNo','Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
basket

Description,ALARM CLOCK BAKELIKE GREEN,ALARM CLOCK BAKELIKE PINK,ALARM CLOCK BAKELIKE RED,CHARLOTTE BAG DOLLY GIRL DESIGN,CIRCUS PARADE LUNCH BOX,INFLATABLE POLITICAL GLOBE,LUNCH BOX I LOVE LONDON,MINI JIGSAW CIRCUS PARADE,MINI JIGSAW SPACEBOY,MINI PAINT SET VINTAGE,PANDA AND BUNNIES STICKER SHEET,POSTAGE,RED TOADSTOOL LED NIGHT LIGHT,ROUND SNACK BOXES SET OF4 WOODLAND,SET 2 TEA TOWELS I LOVE LONDON,SET/2 RED RETROSPOT TEA TOWELS,SPACEBOY LUNCH BOX,STARS GIFT TAPE,VINTAGE HEADS AND TAILS CARD GAME,VINTAGE SEASIDE JIGSAW PUZZLES
InvoiceNo,,,,,,,,,,,,,,,,,,,,
536370,12,24,24,20,24,48,24,24,24,36,12,3,24,24,24,18,24,24,24,12

In [22]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames = True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

NameError: name 'basket_sets' is not defined

In [21]:
rules[ (rules['lift'] >=6) & 
     (rules['confidence'] >= 0.8) ]

NameError: name 'rules' is not defined